<launch>
    <param name="layout_path" value="$(find rososc_tutorials)/touchosc_video" />
    <rosparam param="layouts">
        [ "layout.touchosc" ]
    </rosparam>
    
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" output="screen">
        <rosparam command="load" file="$(find rososc_tutorials)/07diagnostics/aggregator.yaml"/>
    </node>
    <node pkg="rososc_tutorials" type="dummydiagnosticsnode.py" name="dummydiagnostics"/>


    <node pkg="touchosc_bridge" type="touchosc_bridge.py" name="touchosc" output="screen">
        <param name="osc_name" value="ROS OSC Default" />
        <param name="port" value="9000"/>
        <param name="print_fallback" value="True" />
        <param name="load_default" value="True" />
        <param name="publish_accel" value="True" />
        <param name="publish_diag" value="True" />
        <param name="vibrate" value="True" />

        <rosparam param="handlers">[teleop, diagnostics]</rosparam>
        <rosparam command="load" file="$(find rososc_tutorials)/06teleop/teleop.yaml"/>
        <rosparam command="load" file="$(find rososc_tutorials)/07diagnostics/diagnostics.yaml"/>
    </node>

    <node pkg="pytouchosc" type="layoutserver_node" name="layoutserver"/>
</launch>
